<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>test app</title>
  </head>
  <body>
    {{count}}
    {{#if user}}
        <p>hello {{user.name}}</p>
      <a href="/auth/logout">logout</a>
    {{else}}
      <a href="/auth/login">login</a>
    {{/if}}
  </body>
</html>